header {
  background-color: color(amarelo);
  padding: space(medium);
  height: 60px;

  h1 {
    width: 15%;

    a {
      display: block;
      background-image: url('assets/Logo_ML-grande.png');
      background-repeat: no-repeat;
      background-position-x: center;
      height: 100%;
      overflow: hidden;
      text-indent: -9999px;
      
      @media (max-width: 600px) {
        background-image: url('assets/Logo_ML.png');
        background-size: 60px;
      }
    }
  }


  input {
    background-color: color(branco);
    border: none;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: space(p);
    width: 95%;

    @media (max-width: 400px) {
      width: 90%;
      padding: space(medium);
    }
  }

  button {
    width:5%;
    background-color: color(cinza, light);
    background-image: url('assets/ic_Search.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border: none;
  

    @media (max-width: 400px) {
      width: 10%;
    }
  }

  form {
    display: flex;
    width: 80%;

    @media (max-width: 400px) {
      width: 100%;
      margin-top: space(base);
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
  }
}